.header {
	font-size: 20px;
	margin-bottom: 60px;
}

.header span {
	display: block;
	line-height: 1.5;
}

.section {
	padding: 30px 0;
}

/* .container, .col-lg-6 {
	border: 2px solid red;
} */

.form-header {
	margin-bottom: 20px;
	font-style: 20px;
	font-weight: 700;
}

.tabl{
	margin: 10px 25%;
} 

.form {
	border: 5px solid #2727d0;
	padding: 35px 20px;
}

.form input {
	margin-bottom: 12px;
}

.section-header {
	font-size: 24px;
	font-weight: 500;
}

.feature {
	margin: 60px auto;
}

.feature p {
	margin-top: 20px;
}