// COLOURS
@white: #ffffff;
@orange: #ff9320;
@li: #c0c0c0;
@border: #aeaeae;
@buttontext: #f2f2f2;
@contact: #353535;
@icons: #8e8e8e;
@bg: #171717;
@dbtn: rgb(28, 28, 28);

// FONTS
@font-face {
    font-family: 'ProximaNova_Light';
    src: url('../fonts/ProximaNova-Light.eot');
    src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/ProximaNova-Light.woff') format('woff'),
        url('../fonts/ProximaNova-Light.ttf') format('truetype'),
        url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova_Reg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova_Bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova_SMBold';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff'),
        url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
.reg() {
	font-family: 'ProximaNova_Reg', sans-serif;
	color: @white;
}
.light() {
	font-family: 'ProximaNova_Light', sans-serif;
	color: @white;
}
.bold() {
	font-family: 'ProximaNova_Bold', sans-serif;
	color: @white;
}
.smb {
	font-family: 'Proxima Nova_SMBold', sans-serif;
	color: @white;
}


// Basic Settings
 li {
    list-style-type: none; /* Убираем маркеры */
   }
html {
	font-size: 10px;
}

section {
	padding: 10rem;
}

body {
	background-color: #171717;
}
button, input, a {
	&:focus {
		outline: none;
}
}

.last {
	color: @orange;
}
.maintitle {
	.smb();
	font-size: 6.4rem;
	text-transform: uppercase;
	letter-spacing: 1rem;
}
.text {
	.light();
	font-size: 1.6rem;
	letter-spacing: 0.075em;
	color: @white;
	text-transform: none;
}
.blocktext {
	margin-top: 2.7rem;
}

.boldt {
	.bold();
	color: @orange;
}


// Body

//Navbar
.navbar {
	background-color: #171717;
	border: none;
	&-brand {
		.bold();
		font-size: 2.4rem;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		&:hover {
			cursor: pointer;
			text-decoration: none;
		}

	}
	.white {
			color: @white;
		}
	.menu {		
		.light();
		margin-top: 0.5rem;
		text-align: right;
		font-size: 1.6rem;
		letter-spacing: 0.075rem;

		li > a {
			color: @li;
			text-decoration: none;
			position: relative;
			white-space: nowrap;
			&:hover {
				color: @white;
			}
			&:hover::after {
			  content: '';
			  position: absolute;
			  bottom: 0;
			  left: -1px; right: -1px;  
			  border-bottom: 2px solid @orange;
			}
		}
		
		.how {
			margin-left: 1rem;
		}
		.whychooseus {
			margin-left: 1rem;
		}
		.rev {
			margin-left: 2rem;
		}
		.faqnav {
			margin-left: 2rem;
		}
		.contact {
			margin-left: 2rem;
		}
	}

}






//Zwen and text
.main {
	background: #171717 url(../img/zwenbg1.png) center -5rem no-repeat;
	background-size: cover;
}

.cheaper {
	padding-top: 4rem;
	animation-duration: 2.5s;
}
.better {
	padding-top: 2rem;
	animation-duration: 2s;
}
.safer {
	padding-top: 2rem;
	animation-duration: 1.5s;
}
.line {
	padding-top: 4rem;
	border-bottom: 0.4rem solid @white;

}
.lastline {
	margin-bottom: 10rem;
}

.btn {
	.reg();
	font-size: 2.2rem;
	color: @white;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(243, 126, 0);
  border-radius: 6px;
  background-color: rgb(255, 147, 32);
  opacity: 0.98;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2),inset 0.877px 1.798px 4px 0px rgba(255, 248, 240, 0.18);
  width: 202px;
  height: 48px;
  
  &:hover {
  	cursor: pointer;
		background-color: darken(@orange, 10%);
		color: @white;
  }
  }

.view {
	height: 100vh;
}




// Buy page

	// Border
	.bordername {
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 15.8rem;
		left: 50%;
		transform: translateX(-70%) translateY(-50%);
		background-color: #171717;
		text-align: center;
		margin-top: 0.9rem;
	}
	.bigborder {
		display: block;
		width: 100%;
		height: 70rem;
		border: 1px solid @border;
		background: none;
	}
	//Sellblock
	.sellblock {
		margin-top: 12rem;
		display: block;
		width: 95%;
		height: 52rem;
		border: 1px solid @border;
		margin-left: 1rem;
		&:hover {
		border-color: @orange;
		box-shadow: 0.975px 7.94px 21px 0px rgba(250, 145, 32, 0.31);
		}
	}
	.sellblockname {
        position: absolute;
        display: inline-block;
        width: 21.5rem;
        height: 10rem;
        left: 30%;
        transform: translateX(-50%) translateY(-560px);
        background-color: #171717;
        text-align: center;
        margin-left: 1rem;
       }
       .sellblocktext {
            .reg();
            font-size: 4.8rem;
            text-transform: uppercase;
            letter-spacing: 0.3rem;
        }

        .buy {
	padding: 10rem;
	.btn {
		margin-left: 3.5rem;
	}
	.nablock {
		
	}

	.features {
		margin-left: 10%;
		margin-top: 7rem;
	}

	.list {
		list-style: none;
		.reg();
		font-size: 18px;
		line-height: 4.5rem;
		letter-spacing: 0.2rem;
	}
	.ot {
		margin-left: 1rem;
	}
	.price {
		.reg();
		font-size: 3.6rem;
		letter-spacing: 0.3rem;
		margin-left: 13%;
		margin-top: 2.5rem;
	}
	.buybtn {
		padding-top: 1rem;
	}
}
// end buy page



// HOW TO BUY
.h2b {
	text-align: center;
.package {

.circle {
	display: inline-block;
	text-align: center;
	margin-top: 8rem;
  border-width: 1px;
  border-color: rgb(142, 142, 142);
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(255, 147, 32);
  width: 168px;
  height: 168px;
	.basket, .mail, .paypal {
		text-align: center;
		margin-top: 4.6rem;
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
		}
		p {
			display: inline;
		}
		&basket {
			animation-duration: 1.5s;
		}
		&paypal {
			animation-duration: 2s;
		}
		&mail {
			animation-duration: 2.5s;
		}
	}
.description {
  font-size: 3.6rem;
  .reg();
  margin-top: 10rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
}
}
// END H2B



// WHY CHOOSE US
.why {
	padding: 12rem;
	.featuresborder {
		margin-top: 12rem;
		display: block;
		height: 18rem;
		border: 1px solid @border;
		margin-left: 1rem;
		&:hover {
		border-color: @orange;
		box-shadow: 0.975px 7.94px 21px 0px rgba(250, 145, 32, 0.31);
	}
		&-name {
		position: absolute;
        display: inline-block;
        width: 100%;
        height: 10rem;
        left: 80%;
        transform: translateX(-50%) translateY(-50%);
        background-color: #171717;
        text-align: center;
        margin-left: 1rem;
		}
		
	}
	.bigborder {
			height: 163rem;
		}
	.whybordername {

		position: absolute;
		display: inline-block;
		height: 15.8rem;
		width: 100%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		background-color: #171717;
		text-align: center;
		margin-top: 0.9rem;
		
	}
	.fa {
		position: absolute;
		  font-size: 72px;
		  color: rgb(255, 255, 255);
		  text-transform: uppercase;
		  line-height: 1.2;
		  margin-top: -13rem;
		  margin-left: -3rem;
	}
	p {
		margin-top: -12rem;
	}
	.fast-why {
		.featuresborder-name {
			margin-left: 2.4rem;
		}
	}
	.accs-why {
		.featuresborder-name {
			margin-left: -7.5rem;
		}
	}

}
//END WHY



// REVIEWS
.reviews {
	text-align: center;
	&-title {
		margin-top: -5rem;
	}
	.fineriview {
		margin-top: 10rem;
		
	}
	.btn {
		margin-top: 7rem;
		margin-bottom: -4rem;
  width: 26.1rem;
	}
}


.idea {
	padding-top: 16rem;
	.chal {
		margin-left: -10rem;
	}
	&-champs {
		margin-top: 5rem;

		}
		.namechamps {
			margin-left: -10rem;
		}
		.teach {
			margin-left: -10rem;
			.sellblocktext {
				text-align: left;
				margin-left: 5rem;
			}
		}
	.blocktext {
		margin-top: -1.5rem;
		text-align: left;
		margin-left: 3.2rem;
	}
	.bigborder {
		height: 107rem;
	}
}




//preFAQ

	.prefaq {
		background-color: @orange;
		.prefaqtext {
			  font-size: 60px;
			  .smb();
			  color: rgb(255, 255, 255);
			  text-transform: uppercase;
			  line-height: 1.2;
			  text-align: left;
			  .faqsp {
			  	  color: #353535;
			  }
		}

	}



// FAQ
.faq {
	.bigborder {
		height: 110rem;
		.maintitle {
			margin-top: 3.2rem;
		}
		.panel {
		}
		.panel-group {
			margin-top: 10rem;

		}
		.panel-default {
			background-color: darken(@bg, 2%);
			margin-top: 1rem;
		}
		.button {

		}
		a {
			.smb();
			font-size: 1.8rem;
			color: @li;
			text-decoration: none;
			position: relative;
			white-space: nowrap;
			&:hover {
				color: @white;
			}
			&:hover::after {
			  content: '';
			  position: absolute;
			  bottom: 0;
			  left: -1px; right: -1px;  
			}
		}
		.panel-heading {

			
			background-color: @bg;


		}
		.panel-body {
			font-size: 1.6rem;
			.light();
			color: @li;

		}
	}
}


//CONTACT;
.contactform {
	.main-form {
		margin-bottom: 3rem;
		width: 100%;
		height: 52rem;
		background-color: @white;
		&-header {
			padding-top: 3rem;
			text-align: center;
			  font-size: 48px;
			  .reg ();
			  color: rgb(53, 53, 53);
			  text-transform: uppercase;
			  line-height: 1.2;
			  letter-spacing: 0.7rem;
		}
		&-input {
			display: block;
			width: 100%;
			margin-top: 2rem;
			border-top: none;
			border-left: none;
			border-right: none;
			border-color: @bg;
			font-family: ProximaNova_Light;
			font-size: 1.6rem;


			&-mail {
				display: block;
				width: 100%;
				margin-top: 8rem;
				border-top: none;
				border-left: none;
				border-right: none;
				border-color: @bg;
			}
			&-email {
				margin-top: 3rem;
			}
			.btn-contact {
				display: block;
				margin-top: 7rem;
				text-align: center;
				  border-style: solid;
				  border-width: 1px;
				  border-color: rgb(28, 28, 28);
				  border-radius: 6px;
				  background-color: rgb(53, 53, 53);
				  opacity: 0.98;
				  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2),inset 0.877px 1.798px 4px 0px rgba(255, 248, 240, 0.18);
					&:hover {
						background-color: lighten(@dbtn, 15%);
					}
				}
		}
	}
}


// FOOTER
.footer {
	padding-top: 6rem;
	.logo { 
		
		.bold();
		font-size: 2.4rem;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		&:hover {
			cursor: pointer;
			text-decoration: none;
		}
	}
	&-horizon {
		padding-top: 2rem;
		width: 100%;
		border-top: none;
		border-right: none;
		border-left: none;
		border-bottom: 1px solid @border;

	}
	.text {
		padding-top: 2rem;
	}
	// .footer-line {
	// 	height: 3rem;
	// 	width: 1rem;
	// 	border-top: none;
	// 	border-bottom: none;
	// 	border-right: none;
	// 	border-left: 1 px solid @border;
	// }
	&-menu {
		margin-top: 3rem;
		ul {
			font-size: 1.6rem;
			line-height: 4rem;
		}
		a {	
			.light();
			color: @li;
			text-decoration: none;
			&:hover {
				color: @white;
			}
		}
		i {
			color: @orange;
			padding-right: 0.5rem;
		}
	}
	&-contact {
		letter-spacing: 0.1rem;
		i {
			color: @orange;
			padding-right: 0.8rem;
			font-size: 1.8rem;
		}
		padding-top: 2rem;
		h4 {
			text-transform: uppercase;
			.light();
		}
		&-data {
			.light();
			font-size: 1.6rem;
			
		}
		.globe {
				display: block;
				margin-top: 1.8rem;
			}
		.fa-envelope-square {
			margin-top: 0.7rem;
		}
	}
}


//MEDIA
@media (max-width: 1199px) {

	.main {
	background: #171717 url(../img/zwenbg1.png) 35rem -5rem no-repeat;
	background-size: cover;
}

	


	.buy {
		.bigborder {
			border-bottom: none;
			border-left: none;
			border-right: none;
		}
		.bordername {
			width: 60%;
			left: 50%;
		transform: translateX(-50%) translateY(-50%);
		}
		.features {
			margin-left: 30%;
			.price {
				margin-left: 8%;
			}
		}
	}

}




@media (max-width: 991px)  {
	.main {
		background: none;
	}
	.bigborder {
		display: block;
		width: 100%;
		height: 70rem;
		border: 1px solid @border;
		background: none;
		}

	.why {
		display: none;
	}
	.idea {
		display: none;
	}
	.reviews {
		display: none;
	}
	.prefaq {
		display: none;
	}

	.faq {
		display: none;
		.bordername {
			display: none;
		}
	}
	.hiderev {
		display: none;
	}

}

@media (max-width: 767px) {
		

	.cheaper {
		padding-top: 1rem;
	}



	.buy {
	padding: 1rem;
	
	.features {
		margin-top: 15rem;
		margin-left: 0;
	}
	.bigborder {
		border: none;
	}
	.bordername {
		text-align: left;
		left: 0;
		transform: none;
	}
	.sellblock {
		display: inline-block;
		border: none;
		margin-bottom: 10rem;
		margin-top: 15rem;
		// &:hover {
		// 	background-color: darken(@orange, 0%);
		// 	color: @white;
		// }
	}
	.sellblockname {
		text-align: left;
	}
}

}




